*.dockerfile.test
*.idea
*.ignore
*.private
dist
usr/local/src/integration-tests/virtual/ece-install.yaml
usr/local/src/integration-tests/virtual/var
usr/local/src/unit-tests/shunit2
var/cache/escenic
